<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>myfriends</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>IndexPublicController</servlet-name>
		<servlet-class>controller.IndexPublicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexPublicController</servlet-name>
		<url-pattern>/trang-chu</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>IndexCatPublicController</servlet-name>
		<servlet-class>controller.IndexCatPublicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexCatPublicController</servlet-name>
		<url-pattern>/danh-muc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DetailIndexController</servlet-name>
		<servlet-class>controller.DetailIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailIndexController</servlet-name>
		<url-pattern>/chi-tiet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContactPublicController</servlet-name>
		<servlet-class>controller.ContactPublicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactPublicController</servlet-name>
		<url-pattern>/lien-he</url-pattern>
	</servlet-mapping>
</web-app>